@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Playwrite+CZ:wght@100..400&family=Playwrite+HR:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #000;
}

header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgb(26 25 25 / 84%) 100%
  );
  padding: 57px 190px 0px 190px;
  margin-bottom: 25px;
}
#navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  align-items: center;
}
#navbar ul {
  display: flex;
}
#navbar ul li {
  list-style: none;
  margin-right: 24px;
}
#navbar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
}
.responsive-icon {
  display: none;
}
#navbar h1 {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
}
#navbar .active {
  background-color: rgb(230, 83, 60);
  padding: 8px 18px 8px 18px;
  border-radius: 50rem;
}

/* Banner Part */
#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left h1 {
  color: rgb(255, 255, 255);
  font-size: 78px;
  font-weight: 900;
  line-height: 6rem;
  margin-bottom: 28px;
}
.left h1 span {
  font-weight: 100;
  font-family: "Playwrite CZ", cursive;
}
.left p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 28px;
}
.left button {
  /* padding: 1rem 2.5rem 1rem 2.5rem; */
  border-radius: 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  height: 47px;
}
.left .join {
  background-color: rgb(230, 83, 60);
  margin-right: 0.875rem;
}
.left .app {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}
.right {
  height: 36.25rem;
  position: relative;
}
.right img {
  height: 100%;
}
.up {
  position: absolute;
  top: 141px;
  left: 239px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 0px 10px 13px;
  width: 189px;
}
.up h1 {
  font-size: 40px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.up p {
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.down {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 0px 10px 13px;
  width: 189px;
  bottom: 66px;
  left: -67px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.down h1 {
  font-size: 40px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.down p {
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.circle {
  width: 20px;
  background-color: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  width: 35px;
  height: 35px;
  border-radius: 30px;
  text-align: center;
}
.circle i {
  transform: translate(4%, 49%);
  font-size: 15px;
}
/* Change your habit */
#change-habit {
  padding: 57px 190px 0px 190px;
  margin-bottom: 25px;
}
.change-habit h1 {
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 14px;
}
.change-habit .main-head-conent {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  width: 47%;
  margin: auto;
  margin-bottom: 54px;
}
.four-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.four-cards img {
  width: 152px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
}
.four-cards h3 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 30px;
}
.four-cards p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 8px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Run an Extra */
#run-extra {
  padding: 57px 190px 0px 190px;
  margin-bottom: 25px;
}
.run-extra {
  display: flex;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 25px 40px;
  align-items: center;
}
.right-image {
  width: 465px;
  height: 245px;
  background-image: url(./images/run.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
}
.left-content h1 {
  font-size: 48px;
  color: rgb(255, 255, 255);
  margin-bottom: 14px;
  width: 50%;
}
.left-content p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 14px;
  width: 64%;
  line-height: 25px;
  margin-bottom: 28px;
}
.left-content button {
  border-radius: 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  height: 47px;
  background-color: rgb(230, 83, 60);
}

/* BMI Calculator */
#bmi-calculator {
  margin-bottom: 25px;
}
.bmi-calculator-heading {
  color: rgb(255, 255, 255);
  font-size: 48px;
  margin-bottom: 14px;
}
.bmi-calculator-content {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.heading-content {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 88px;
  margin-top: 70px;
}
.bmi-form {
  background: rgb(34, 34, 34);
  padding: 57px 190px 57px 190px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  gap: 110px;
}
.bmi-form h1 {
  font-size: 28px;
  color: rgb(255, 255, 255);
}
.chart {
  width: 50%;
}
.chart table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 52px;
}
.chart td,
th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;
  padding: 8px;
}
.chart th {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.chart td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.form h1 {
  margin-bottom: 14px;
}
.form p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 34px;
}
.form input,
select {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 40px 12px 20px;
  margin-right: 4px;
  margin-bottom: 12px;
  border: none;
  outline: none;
  width: 100%;
}
.single-options {
  width: 100%;
}
.two-input-1,
.two-input-2 {
  display: flex;
  gap: 8px;
}
.form select,
input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form select option {
  background-color: #646464;
}
.form button {
  border-radius: 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  width: 174px;
  height: 44px;
  background-color: rgb(230, 83, 60);
  margin-top: 20px;
}

/* Meet Our Team */
#our-team {
  padding: 57px 190px 57px 190px;
  margin-bottom: 25px;
}
.our-team-heading {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 58px;
}
.our-team-heading h1 {
  font-size: 48px;
  margin-bottom: 14px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.our-team-heading p {
  font-size: 14px;
  margin-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.our-team-cards {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
}
.our-team-cards img {
  width: 300px;
  height: 272px;
  border-radius: 18px;
}
.team-1 {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.team-2 {
  display: flex;
  gap: 15px;
}
.trainer1 {
  position: relative;
}
.trainer1 h3 {
  position: absolute;
  top: 209px;
  color: rgb(255, 255, 255);
  left: 20px;
}
.trainer1 p {
  position: absolute;
  top: 234px;
  color: rgba(255, 255, 255, 0.5);
  left: 20px;
}
.trainer2 {
  position: relative;
}
.trainer2 h3 {
  position: absolute;
  top: 209px;
  color: rgb(255, 255, 255);
  left: 20px;
}
.trainer2 p {
  position: absolute;
  top: 234px;
  color: rgba(255, 255, 255, 0.5);
  left: 20px;
}
.trainer3 {
  position: relative;
}
.trainer3 h3 {
  position: absolute;
  top: 209px;
  color: rgb(255, 255, 255);
  left: 20px;
}
.trainer3 p {
  position: absolute;
  top: 234px;
  color: rgba(255, 255, 255, 0.5);
  left: 20px;
}
.trainer4 {
  position: relative;
}
.trainer4 h3 {
  position: absolute;
  top: 209px;
  color: rgb(255, 255, 255);
  left: 20px;
}
.trainer4 p {
  position: absolute;
  top: 234px;
  color: rgba(255, 255, 255, 0.5);
  left: 20px;
}
.trainer5 {
  position: relative;
}
.trainer5 h3 {
  position: absolute;
  top: 209px;
  color: rgb(255, 255, 255);
  left: 20px;
}
.trainer5 p {
  position: absolute;
  top: 234px;
  color: rgba(255, 255, 255, 0.5);
  left: 20px;
}
.trainer6 {
  position: relative;
}
.trainer6 h3 {
  position: absolute;
  top: 209px;
  color: rgb(255, 255, 255);
  left: 20px;
}
.trainer6 p {
  position: absolute;
  top: 234px;
  color: rgba(255, 255, 255, 0.5);
  left: 20px;
}

/* Responsive */
@media only screen and (max-width: 576px) {
  header {
    padding: 57px 29px 0px 28px;
    margin-bottom: 0px;
  }
  #navbar {
    align-items: center;
  }
  #navbar ul li {
    display: none;
  }
  .responsive-icon {
    display: block !important;
  }
  #banner {
    flex-direction: column;
  }
  .left h1 {
    font-size: 36px;
    line-height: 120%;
    width: 316px;
  }
  .left {
    margin-bottom: 48px;
  }
  .up {
    top: 62px;
    left: 191px;
    width: 143px;
  }
  .up h1 {
    font-size: 30px;
  }
  .up p {
    font-size: 10px;
  }
  .down {
    padding: 10px 10px 10px 3px;
    width: 143px;
    bottom: 227px;
    left: 9px;
  }
  .down h1 {
    font-size: 30px;
  }
  .down p {
    font-size: 10px;
  }
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 40px;
  }
  .circle i {
    transform: translate(4%, 34%);
    font-size: 13px;
  }
  .left .join {
    margin-bottom: 16px;
    margin-right: 0.3rem;
  }
  .left button {
    font-size: 14px;
    width: 135px;
    height: 44px;
  }
  #change-habit {
    padding: 29px 29px 0px 29px;
    margin-bottom: 25px;
  }
  .change-habit h1 {
    font-size: 32px;
  }
  .change-habit .main-head-conent {
    width: 95%;
  }
  .four-cards {
    flex-direction: column;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .four-cards p {
    width: 65%;
  }
  #run-extra {
    padding: 29px 29px 0px 29px;
    margin-bottom: 25px;
  }
  .run-extra {
    flex-direction: column;
  }
  .left-content h1 {
    font-size: 32px;
    width: 100%;
  }
  .left-content p {
    width: 100%;
  }
  .left-content button {
    width: 100%;
  }
  .left-content {
    margin-bottom: 24px;
  }
  .right-image {
    width: 100%;
    height: 170px;
  }
  .bmi-form {
    flex-direction: column;
    padding: 57px 29px 57px 29px;
    gap: 48px;
  }
  .heading-content {
    width: 92%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  .bmi-calculator-heading {
    font-size: 32px;
  }
  .chart {
    width: 100%;
  }
  .bmi-form h1 {
    font-size: 16px;
  }
  .chart table {
    margin-top: 25px;
  }
  #our-team {
    padding: 37px 29px 57px 29px;
  }
  .our-team-heading {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 45px;
  }
  .our-team-heading h1 {
    font-size: 32px;
  }
  .team-1 {
    flex-direction: column;
    justify-content: center;
  }
  .team-2 {
    flex-direction: column;
    justify-content: center;
  }
  .our-team-cards {
    width: 100%;
    margin: 0 auto;
  }
  .our-team-cards img {
    width: 100%;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1350px) {
  header {
    padding: 57px 90px 0px 44px;
  }
  .left h1 {
    font-size: 70px;
    line-height: 5rem;
  }
  .left button {
    font-size: 15px;
    width: 157px;
    height: 42px;
  }
  .up {
    width: 166px;
  }
  #change-habit {
    padding: 57px 44px 0px 44px;
  }
  #run-extra {
    padding: 57px 44px 0px 44px;
  }
  .left-content h1 {
    width: 58%;
  }
  .left-content button {
    width: 160px;
    height: 42px;
  }
  .bmi-form {
    padding: 57px 29px 57px 29px;
  }
  #our-team {
    padding: 57px 29px 57px 29px;
    margin-bottom: 25px;
  }
  .team-1 {
    gap: 37px;
    justify-content: center;
  }
  .team-2 {
    gap: 37px;
    justify-content: center;
  }
  .our-team-cards img {
    width: 277px;
    height: 272px;
    border-radius: 18px;
  }
}
